<h3>Atualizar Perfil</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Apelido</label>
      <input type="text" class="form-control" id="Nome" required [(ngModel)]="perfil.apelido" name="apelido">
    </div>

    <div class="form-group">
      <label for="name">Marca</label>
      <input type="text" class="form-control" id="Endereco" required [(ngModel)]="perfil.marca" name="marca">
    </div>

    <div class="form-group">
      <label for="name">Modelo</label>
      <input type="text" class="form-control" id="Email" required [(ngModel)]="perfil.modelo" name="modelo">
    </div>

    <div class="form-group">
      <label for="name">Quilometragem Atual</label>
      <input type="text" class="form-control" id="Email" required [(ngModel)]="perfil.quilometragemAtual"
        name="quilometragemAtual">
    </div>

    <div class="form-group">
      <label for="name">Ano Fabricação</label>
      <input type="text" class="form-control" id="Email" required [(ngModel)]="perfil.anoFabricacao"
        name="anoFabricacao">
    </div>

    <div class="form-group">
      <label for="name">Ano Modelo</label>
      <input type="text" class="form-control" id="Email" required [(ngModel)]="perfil.anoModelo" name="anoModelo">
    </div>

    <div class="form-group">
      <label for="name">Nome Proprietario</label>
      <input type="text" class="form-control" id="Email" required [(ngModel)]="perfil.nomeProprietario" name="nomeProprietario">
    </div>

    <div class="form-group">
      <label for="name">Informacoes Adicionais</label>
      <input type="text" class="form-control" id="Email" required [(ngModel)]="perfil.informacoesAdicionais" name="informacoesAdicionais">
    </div>

    <div class="form-group">
      <label for="name">Email Proprietario</label>
      <input type="text" class="form-control" id="Email" required [(ngModel)]="perfil.emailProprietario" name="emailProprietario">
    </div>

    <button type="submit" class="btn btn-success">Atualizar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>